<script type="application/ld+json">
  {
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{site.url}}{{ page.url }}"
    },
    "@context":"https://schema.org",
    "@type":"BlogPosting",
    "headline":"{%if page.metatitle%}{{page.metatitle}}{%else%}{{page.title}}{%endif%}",
    "description":"{%if page.metadescription%}{{page.metadescription}}{%else%}{{page.description}}{%endif%}",
    "url":"{{site.url}}{{ page.url }}",
    "image":"{%if page.image%}{{site.url}}/{{page.image}}{%else%}{{site.logo}}{%endif%}",
    {%if page.sitemap.lastmod%}
    "dateModified":"{{page.sitemap.lastmod | date_to_xmlschema}}",
    {%else%}
    {%endif%}
    "datePublished":"{{page.date}}",
      "author":{
        "@type":"Person",
        "name":"{{page.author}}"
      },
     "publisher":{
        "@type":"Organization",
        "name":"{{site.title}}",
        "url":"{{site.url}}/",
        "logo":{
           "@type":"ImageObject",
           "url":"{{site.url}}/{{site.logo}}"
      }
    }
  }
</script>